# permissions for end users to view zerokops.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: zerokop-viewer-role
rules:
- apiGroups:
  - operator.zerok.ai
  resources:
  - zerokops
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operator.zerok.ai
  resources:
  - zerokops/status
  verbs:
  - get
