apiVersion: v1
data:
  config.yaml: |
    redis:
      port: 6379
      readTimeout: 20
      dbs:
        scenarios: 2
        service_list: 6
    http:
      port: 8472
      healthCheckPort: ":8081"
      metricsPort: ":8080"
    logs:
      color: {{ .Values.serviceConfigs.logs.color }}
      level: {{ .Values.serviceConfigs.logs.level }}
    crdUI:
      port: {{ .Values.global.crdUI.port}}
      path: {{ .Values.global.crdUI.path}}
kind: ConfigMap
metadata:
  name: zk-operator
  namespace: zk-client